* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

/* .explore h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .explore p {
    font-size: 1.2rem;
    color: #777;
    margin-bottom: 30px;
  } */
.banner {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.banner h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.banner p {
  font-size: 18px;
  margin-bottom: 20px;
}

.explore {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}

.courses {
  padding: 20px;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.course {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.course img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.course h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.course p {
  font-size: 16px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.schedule {
  background-color: #f2f2f2;
  padding: 20px;
}

.schedule table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.schedule th,
.schedule td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.schedule th {
  background-color: #333;
  color: #fff;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
