<!-- <footer>Page Footer</footer> -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link rel="stylesheet" href="/css/_footer.css" />
<footer>
  <div class="container">
    <div class="sec aboutus">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
        consequuntur maxime iste laborum molestiae illum fugit doloribus harum
        eius, veritatis dolores aliquam provident id labore aspernatur sapiente
        obcaecati distinctio reiciendis!
      </p>
      <ul class="sci">
        <li>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </li>
      </ul>
    </div>
    <div class="sec careers">
      <h2>Careers</h2>
      <ul class="list">
        <li>
          <a href="#">Job Search</a>
        </li>
        <li>
          <a href="#">Who we are</a>
        </li>
        <li>
          <a href="#">What we do</a>
        </li>
        <li>
          <a href="#">Work at Gliadalista Consultancy</a>
        </li>
      </ul>
    </div>
    <div class="sec services">
      <h2>Services</h2>
      <ul class="list">
        <li>
          <a href="#">Consulting</a>
        </li>
        <li>
          <a href="#">Training</a>
        </li>
        <li>
          <a href="#">Corporate Guide</a>
        </li>
        <li>
          <a href="#">Career Guidance</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="contacts" id="Contacts">
    <h2>Contact Info</h2>
    <ul class="info">
      <li>
        <span><i class="fa-solid fa-location-dot"></i></span>
        <p>
          724 Which Street <br />
          Which Place, PA 15745, <br />India
        </p>
      </li>
      <li>
        <span><i class="fa-solid fa-phone"></i></span>
        <p><a href="tel:123456789">+1 234 567 8900</a></p>
      </li>
      <li>
        <span>
          <i class="fa-solid fa-envelope"></i>
        </span>
        <p>
          <a href="gliadalista.consultancy@gmail.com"
            >gliadalista.consultancy@gmail.com</a
          >
        </p>
      </li>
    </ul>
  </div>
</footer>
<div class="copyright">
  <p>Copyright © 2023 Gliadalista Consultancy. All Rights Reserved.</p>
</div>
