<link rel="stylesheet" href="/css/add_service.css" />
<div class="admin container">
  <h1>Add Services</h1>
  <form action="/admin/services/add-service" method="post">
    <div class="input-group">
      <label for="title">Service Name:</label>
      <input type="text" id="title" name="title" required />
    </div>
    <div class="input-group">
      <label for="id_number">Servive ID_number:</label>
      <input type="number" id="id_number" name="id_number" required />
    </div>
    <div class="input-group">
      <label for="description">Course Description:</label>
      <textarea id="description" name="description" required></textarea>
    </div>
    <div class="input-group">
      <label for="duration">Course Duration:</label>
      <input type="text" id="duration" name="duration" required />
    </div>
    <div class="input-group">
      <label for="price">Course Price:</label>
      <input type="number" id="price" name="price" required />
    </div>

    <div class="submit">
      <button type="submit">Add Course</button>
    </div>
  </form>
</div>
