header {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #000000;
  box-shadow: o 5px 25px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
/* .logo span {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
} */
.logo a {
  /* font-family: Arial, sans-serif; */
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: 0.6s;
  height: 60px;
  cursor: pointer;
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #000000; */
}

.logo h3 {
  margin: 0;
  line-height: 1.2;
}

.logo span {
  color: #dc143c;
}

#toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: #000000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: 0.2s;
}
#toggle::before,
#toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transition: transform 0.2s;
}
#toggle::before {
  transform: translateY(-5px);
}
#toggle::after {
  transform: translateY(5px);
}
#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
}
#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
  color: #000000;
}
#toggle.active {
  background: #db2929;
}
.navbar {
  position: relative;
  height: 100%;
  right: 60px;
  background: #000000;
  transition: 0.5s;
  width: 0;
  overflow: hidden;
}
#navbar.active {
  width: 690px;
}
.navbar ul {
  position: relative;
  display: flex;
  flex-direction: row;
}
.navbar ul li {
  /* position: relative; */
  list-style: none;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
  line-height: 60px;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 15px;
  letter-spacing: 2px;
}
.navbar ul li a:hover {
  color: #ffbd59;
  /* font-weight: bolder; */
  font-size: 1.3rem;
  /* background: #8c52ff; */
  border-radius: 10px;
}

/* Responsive */
@media (max-width: 1019.2px) {
  .navbar {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    transition: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    flex-direction: column;
  }
  #navbar.active {
    height: calc(100vh - 60px);
    bottom: 0;
    width: 100%;
  }
  .navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  }
}
