.consultancy.container {
  margin-top: 80px;
  height: auto;
  background: #000000;
}

.points h3 {
  padding: 80px;
}

.conbody {
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  width: 95%;
  margin: 30px;
}

.conbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
}

.detailbox:hover {
  transform: scale(110%);
  transition: 0.5s;
}

.detailbox:hover,
.detailbox:hover p,
.detailbox:hover h1 {
  color: rgb(250, 118, 2);
}

.detailbox:hover p {
  font-size: 120%;
}

.detailbox:hover h1 {
  transition: 0.3s;
  font-size: 1.3em;
}

.detailbox {
  background-color: #222;
  padding: 30px;
  border-radius: 30px;
  transition: 0.3s;
  padding-left: 30px;
  transform: scale(100%);
  box-shadow: 50px white;
}

img {
  padding: 10px;
  height: 400px;
  width: 400px;
  grid-row-start: 1;
  grid-row-end: 3;
  /* text-align: center; */
}

p {
  font-size: 100%;
}

.rightconbox {
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 100px;
  padding-right: 150px;
  text-align: left;
}

.rightconbox p {
  text-align: justify;
}

.rightconbox:hover {
  transform: translateX(10%);
  padding-right: 150px;
}

.leftconbox {
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 100px;
  padding-left: 150px;
  text-align: right;
}

.leftconbox p {
  text-align: justify;
}

.leftconbox:hover {
  transform: translateX(-10%);
  padding-left: 150px;
}

.choose h1 {
  color: white;
}

.choose {
  justify-content: baseline;
}

@media only screen and (max-width: 1300px) {
  .conbox {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
  }

  .detailbox:hover {
    transition: 0.5s;
  }

  .rightconbox {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .rightconbox:hover {
    transform: translateX(0%);
    padding-right: 150px;
  }

  .leftconbox {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .leftconbox:hover {
    transform: translateX(0%);
    padding-left: 150px;
  }

  .detailbox:hover p {
    font-size: 100%;
  }

  .detailbox h1 {
    transition: 0.1s;
  }
}
