/* .banner {
  position: relative;
  background: url(../../images/CunsultancyBanner.png);
  height: 100vh;
  background-size: cover;
} */
/* .welcome {
  text-align: center;
  padding: 100px 0;
  background-color: #f2f2f2;
}

.welcome h1 {
  font-size: 3rem;
  color: #e61919;
  margin-bottom: 20px;
}

.welcome p {
  font-size: 1.2rem;
  color: #e6e212;
  margin-bottom: 30px;
} */

.banner {
  position: relative;
  background: url(../images/ConsultancyBanner2.png);
  height: 100vh;
  background-size: cover;
}
.std {
  display: inline-block;
  padding: 10px 30px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.std:hover {
  background-color: #555;
}

/* About section */
.about {
  padding: 80px 0;
  text-align: center;
  background-color: #000000;
}

.about h2 {
  font-size: 2.5rem;
  color: #8c52ff;
  margin-bottom: 30px;
}

.about p {
  font-size: 1.2rem;
  color: #ffbd59;
  margin-bottom: 30px;
}

/* Services section */
.services {
  padding: 100px;
  /* margin: 0 40px; */
}
.max-width {
  max-width: 1300px;
  padding: 0 45px;
  margin: auto;
}
.max-width h1 {
  text-align: center;
  position: relative;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}
.max-width h1::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 3px;
  background: #fff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.content {
  /*  it is covering all the cards */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  padding: 50px 25px;
  width: calc(26% - 20px);
  border-radius: 6px;
  background: #222;
  /* text-align: center; */
  user-select: none;
  cursor: pointer;
  transition: all 0.3 ease;
  display: flex;
  flex-direction: column;
  /* flex: wrap; */
  box-shadow: 0px 10px 20px rgba(211, 210, 210, 0.2);
  text-align: center;
}
.content .card:hover {
  background-color: #dc143c;
}
.content .card .box {
  transition: all 0.3 ease;
}
.card:hover .box {
  transform: scale(1.05);
}
.box i {
  font-size: 50px;
  color: #dc143c;
  transition: color 0.3s ease;
}
.card:hover .box i {
  color: #fff;
}
.box h3 {
  font-size: 25px;
  padding: 10px 0 7px;
}
.btn {
  text-align: center;
  padding-top: 30px;
}
button,
button a {
  height: 55px;
  width: 80%;
  text-align: center;
  margin-top: 20px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(19, 180, 180);
  transition: all 0.2s ease;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  letter-spacing: 2px;
}
button:hover,
button:hover a {
  font-size: 1.2rem;
  font-weight: bold;
  color: aqua;
  background-color: #f9103f;
}
@media screen and (max-width: 1990px) {
  .max-width {
    padding: 0 25px;
  }
  .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}
