* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
}
.service {
  padding: 130px;
}
.max-width {
  max-width: 1300px;
  padding: 0 45px;
  margin: auto;
}
.max-width h1 {
  text-align: center;
  position: relative;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}
.max-width h1::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 3px;
  background: #fff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
